include LICENSE
include README.md
include setup.cfg
include pyproject.toml
include MANIFEST.in

recursive-include tests *
recursive-include examples *
recursive-include kompot *.pyi
recursive-include kompot py.typed
recursive-include kompot/reporter/templates *.html *.css *.js
recursive-include docs *.py *.md *.rst *.txt *.ico *.css

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so
recursive-exclude * .DS_Store